* {
    box-sizing: border-box;
}
body {
    background: hsl(212, 45%, 89%);
}
.container {
    height: 500px;
    width: 300px;
    background: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
}
header {
    font-size: 13px;
    margin: 25px 19px 30px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}
img {
    width: 270px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
}
p {
    margin: 0 20px;
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}
